/* Background and layout for Search and Results */
.search-and-results #intro .jumbotron {
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.75);
    background-size: cover;
}
  
.search-and-results .background {
    background-image: url('ingredient.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.search-and-results .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-and-results .vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
  
.search-and-results h1 {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-size: 80px;
    color: #3b7259;
    line-height: 1.5;
    text-align: center;
}
  
.search-and-results p {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-size: 30px;
    padding: 10px;
    background-color: #3b7259;
    color: #f5f5f5;
    text-align: center;
}
  
.search-and-results .input-group {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-size: 15px;
}
  
.search-and-results .btn-search {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-size: 1em;
    color: #f5f5f5;
    background-color: #3b7259;
    border-color: #3b7259;
}
  
.search-and-results .filter-section {
    margin: 30px 0;
}
  
.search-and-results .filter-title,
.search-and-results .recipe-title,
.search-and-results .ingredient-title,
.search-and-results .tutorial-title {
    text-decoration: underline;
    font-size: 30px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}
  
.search-and-results .filter-options {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}
  
.search-and-results .filter-group {
    display: flex;
    gap: 10px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}
  
.search-and-results .recipe-content {
    margin-top: 40px;
}
  
.search-and-results .recipe-layout {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
  
.search-and-results .rounded {
    width: 60%;
    height: auto;
    position: relative;
    top: 50%;
    left: 20%;
}
  
.search-and-results .ingredients-table {
    flex: 1;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-size: 1.6em;
}
  
.search-and-results table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #8fbc8f;
}
  
.search-and-results td {
    padding: 8px;
    border: 1px solid #8fbc8f;
    color: #2f4f4f;
}
  
.search-and-results .btn-favorite {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    color: #f5f5f5;
    background-color: #3b7259;
    border-color: #3b7259;
}  
